@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url("http://fonts.gstatic.com/s/vt323/v7/vB0CfoJ37mvN-Rdp92NUWaCWcynf_cDxXwCLxiixG1c.woff2") format('woff2');
}
body {
  font-size: 16px;
  background-color: #000;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  font-family: 'VT323';
  color: #f1f830;
  font-size: 3em;
  padding: 0 0.3em 0.2em 0.3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  background: #140d5a;
}
.main {
  flex-flow: row wrap;
  justify-content: space-around;
}
.aside-right {
  background: #140d5a;
  padding-top: 1.5em;
}
.footer {
  background: #140d5a;
  color: #3e4a40;
  font-family: 'Lobster';
  text-align: right;
  font-family: 'VT323';
  color: #f1f830;
}
@media all and (min-width: 480px) {
  .aside-right {
    flex: 1;
  }
  .main {
    order: 2;
    flex: 3 0px;
  }
  .header {
    order: 1;
  }
  .aside-right {
    order: 3;
  }
  .footer {
    order: 4;
  }
}
@media all and (min-width: 1024px) {
  .angular-google-map-container {
    width: 1000px;
  }
}
@media all and (max-width: 1024px) {
  .angular-google-map-container {
    width: 700px;
  }
}
@media all and (max-width: 768px) {
  .header {
    justify-content: space-around;
  }
  .angular-google-map-container {
    width: 480px;
  }
}
@media all and (max-width: 480px) {
  .title {
    text-align: center;
  }
}
.score-view {
  font-family: 'VT323';
}
.score-view-title {
  color: #ff0c13;
  text-align: center;
  font-size: 5em;
  margin: 0 auto;
}
.score-view-list {
  margin: 0 auto;
  padding: 3em;
  text-decorations: none;
}
.score-view-list li {
  color: #140d5a;
  font-size: 2em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.score-view-list-item h2 {
  margin: 0;
  padding: 0;
  display: inline;
}
.score-view-list-item-position {
  color: #f1f830;
}
.score-view-list-item-name {
  color: #f2aeaf;
}
.score-view-list-item-points {
  color: #f97e16;
}
.score-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}
.highscore-form input {
  border: dashed 0.1em #140d5a;
  background: #000;
  color: #f97e16;
  font-family: 'VT323';
  font-size: 2em;
  padding: 0.2em;
  margin-right: 0.5em;
}
.highscore-form button {
  background: none;
  border: none;
  color: #ff0c13;
  font-family: 'VT323';
  font-size: 2em;
}
.responsive-circle-container {
  width: 30%;
  margin: 0 auto;
}
.responsive-circle {
  border-radius: 50%;
  border: 5px solid #f2aeaf;
  margin-bottom: 0.5em;
  margin: 0 auto 20px;
  width: 100%;
  display: block;
}
.responsive-circle::after {
  border-radius: 50%;
  content: "";
  display: block;
  height: auto;
  padding-bottom: 100%;
  width: 100%;
}
.responsive-circle div {
  color: #fff;
  float: left;
  line-height: 1em;
  margin-top: -0.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}
.img-circle::after {
  background: url("https://placekitten.com/400/400") repeat scroll 0 0/cover;
}
.about-me {
  width: 100%;
  height: 100%;
}
.about-me-title {
  font-family: "VT323";
  text-align: left;
  color: #f1f830;
  padding: 0em 1em 0em 1em;
  font-size: 1.5em;
}
.about-me-name {
  display: block;
  text-align: center;
  font-family: "VT323";
  color: #f2aeaf;
  font-size: 1.3em;
}
.about-me-description p {
  padding: 0em 1em 0em 1em;
  font-family: "VT323";
  color: #f1f830;
  font-size: 1.2em;
}
.about-me-connections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.aside-right i {
  color: #f2aeaf;
  font-size: 2.5em;
  margin-right: 0.5em;
}
.aside-right i:hover {
  color: #f97e16;
}
.about-me-image {
  background: url("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgaAAAAJDE0OTc0ZGRhLTg4MWYtNDI3NC05ZmVhLWY0MjZmNmM5MDM0ZA.jpg") repeat scroll 0 0/cover;
}
