@import 'fonts'

//BASIC SETTINGS  


//COMMON PARTS

body
    font-size 16px
    background-color black 

.wrapper
    display flex
    display -webkit-flex
    flex-direction row
    flex-wrap wrap
    -webkit-flex-direction row
    -webkit-flex-wrap wrap

.wrapper > * 
    padding: 10px
    flex: 1 100%
    -webkit-flex: 1 100%

.header
    font-family 'VT323'
    color #F1F830
    font-size 3em
    padding 0 0.3em 0.2em 0.3em
    display flex
    display -webkit-flex
    flex-direction row
    flex-wrap wrap
    justify-content left  
    -webkit-flex-direction row
    -webkit-flex-wrap wrap
    -webkit-justify-content left  
    background #140D5A

.main
    flex-flow row wrap
    justify-content space-around
    -webkit-flex-flow row wrap
    -webkit-justify-content space-around

.aside-right
    background #140D5A
    padding-top 1.5em

.footer
    background #140D5A
    color #3E4A40
    font-family 'Lobster'
    text-align right
    font-family 'VT323'
    color #F1F830
    
@media all and (min-width : 480px) 
    .aside-right  
        flex 1 
        -webkit-flex 1 
    .main
        order 2
        flex 3 0px
        -webkit-order 2
        -webkit-flex 3 0px
    .header
        order 1   
        -webkit-order 1  
    .aside-right  
        order 3 
        -webkit-order 3 
    .footer   
        order 4 
        -webkit-order 4 

@media all and (min-width: 1024px)
    .angular-google-map-container 
        width 1000px

@media all and (max-width: 1024px)
    .angular-google-map-container 
        width 700px          

@media all and (max-width : 768px) 
    .header
        justify-content space-around
        -webkit-justify-content space-around
    .angular-google-map-container 
        width 480px

@media all and (max-width : 480px)
    .title
        text-align center    

//SCORES VIEW

.score-view
    font-family 'VT323'

.score-view-title
    color #FF0C13
    text-align center
    font-size 5em
    margin 0 auto

.score-view-list
    margin 0 auto
    padding 3em
    text-decorations none

.score-view-list li
    color #140D5A   
    font-size 2em 
    list-style-type none
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between 
    display -webkit-flex
    -webkit-flex-direction row
    -webkit-flex-wrap wrap
    -webkit-justify-content space-between 

.score-view-list-item h2
    margin 0
    padding 0
    display inline   

.score-view-list-item-position     
    color #F1F830

.score-view-list-item-name
    color #F2AEAF  

.score-view-list-item-points  
    color #F97E16


//FORM

.score-form form
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center    
    display -webkit-flex
    -webkit-flex-direction row
    -webkit-flex-wrap wrap
    -webkit-justify-content center   
    margin-bottom 2em

.highscore-form input
    border dashed 0.1em #140D5A
    background black
    color #F97E16
    font-family 'VT323'
    font-size 2em
    padding 0.2em
    margin-right 0.5em
    margin-bottom 0.5em

.highscore-form button
    background none
    border none
    color #ff0c13   
    font-family 'VT323' 
    font-size 2em
    width 100%


//USER INFO

.responsive-circle-container
    width 30%
    margin 0 auto

.responsive-circle 
    border-radius: 50%
    border 5px solid #f2aeaf
    margin-bottom 0.5em
    margin: 0 auto 20px
    width: 100%
    display block

.responsive-circle::after
    border-radius: 50%
    content: ""
    display: block
    height: auto
    //margin-bottom: 20px
    padding-bottom: 100%
    width: 100%

.responsive-circle div
    color: white
    float: left
    line-height: 1em
    margin-top: -0.5em
    padding-top: 50%
    text-align: center
    width: 100%

.img-circle::after
    background: url("https://placekitten.com/400/400") repeat scroll 0 0 / cover
 

//ABOUT ME

.about-me
    width 100%
    height 100%

.about-me-title
    font-family "VT323"
    text-align left
    color #f1f830
    padding 0em 1em 0em 1em
    font-size 1.5em

.about-me-name
    display block
    text-align center    
    font-family "VT323"
    color #f2aeaf
    font-size 1.3em

.about-me-description p
    padding 0em 1em 0em 1em
    font-family "VT323"  
    color #f1f830
    font-size 1.2em

.about-me-connections
    display flex   
    flex-direction row
    flex-wrap wrap
    justify-content center
    display -webkit-flex   
    -webkit-flex-direction row
    -webkit-flex-wrap wrap
    -webkit-justify-content center

.aside-right i
    color #f2aeaf
    font-size 2.5em   
    margin-right 0.5em  

.aside-right i:hover
    color #f97e16     

.about-me-image
    background url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgaAAAAJDE0OTc0ZGRhLTg4MWYtNDI3NC05ZmVhLWY0MjZmNmM5MDM0ZA.jpg') repeat scroll 0 0 / cover  
