@import 'fonts'

//COLORS

yellow= #F1F830
blue= #140D5A
red=#FF0C13
pink=#F2AEAF
orange=#F97E16

//FONTS

title-font='VT323'

//MIXINS

vendor(prop, args)
    if prop=='display' 
        if args=='flex'
            {prop} -webkit- + args
            {prop} args
        else
            {prop} args    
    else    
        -webkit-{prop} args
        {prop} args

display()
    vendor('display', arguments)   

flex-direction()
    vendor('flex-direction', arguments)         

flex-wrap()
    vendor('flex-wrap', arguments)

flexx()
    vendor('flex', arguments)    

order()
    vendor('order', arguments)    

justify-content()
    vendor('justify-content', arguments)  

flex-flow()
    vendor('flex-flow', arguments)  

align-items()
    vendor('align-items', arguments)

align-content()
    vendor('align-content', arguments) 

flex-config()    
    flex-direction arguments[0]
    flex-wrap arguments[1]
    if arguments[2]!='0'
        justify-content arguments[2]
    if arguments[3]!='0'
        align-items arguments[3]
    if arguments[4]!='0'    
        align-content arguments[4]  
 


//COMMON PARTS

body
    font-size 16px
    background-color black
    font-family text-font

.wrapper
    display flex
    flex-config row wrap 0 0 0

.wrapper > * 
    padding: 10px
    flexx: 1 100%

.header
    background blue
    font-family title-font
    color yellow
    font-size 3em
    padding 0 0.3em 0.2em 0.3em
    display flex
    flex-config row wrap space-between 0 0 

.main
    flex-flow row wrap
    justify-content space-around

.aside-right
    background blue
    padding-top 1.5em

.footer
    background blue
    color yellow
    font-family title-font
    text-align center


@media all and (min-width : 480px) 
    .aside-right  
        flexx 1 
    .main
        order 2
        flexx 3 0px
    .header
        order 1    
    .aside-right  
        order 3 
    .footer   
        order 4 
    .navigation
        justify-content space-around

@media all and (min-width: 1024px)
    .angular-google-map-container 
        width 1000px

@media all and (max-width: 1024px)
    .angular-google-map-container 
        width 700px          

@media all and (max-width : 768px) 
    .header
        justify-content space-around
    .angular-google-map-container 
        width 480px

@media all and (max-width : 480px)
    .title
        text-align center   
    .navigation
        flex-flow column wrap
        padding 0
    .angular-google-map-container 
        width 260px    
  

//SCORES VIEW

.score-view
    font-family title-font

.score-view-title
    color red
    text-align center
    font-size 5em
    margin 0 auto

.score-view-list
    margin 0 auto
    padding 3em
    text-decorations none

.score-view-list li   
    font-size 2em 
    list-style-type none
    display flex
    flex-config row wrap space-between 0 0

.score-view-list-item h2
    margin 0
    padding 0
    display inline   

.score-view-list-item-position     
    color yellow

.score-view-list-item-name
    color pink

.score-view-list-item-points  
    color orange


//FORM

.score-form form
    display flex 
    margin-bottom 2em
    flex-config row wrap center 0 0

.highscore-form input
    border dashed 0.1em blue
    background black
    color orange
    font-family title-font
    font-size 2em
    padding 0.2em
    margin-right 0.5em
    margin-bottom 0.5em

.highscore-form button
    background none
    border none
    color red  
    font-family title-font
    font-size 2em
    width 100%


//USER INFO

.responsive-circle-container
    width 30%
    margin 0 auto

.responsive-circle 
    border-radius: 50%
    border 5px solid pink
    margin-bottom 0.5em
    margin: 0 auto 20px
    width: 100%
    display block

.responsive-circle::after
    border-radius: 50%
    content: ""
    display: block
    height: auto
    //margin-bottom: 20px
    padding-bottom: 100%
    width: 100%

.responsive-circle div
    color: white
    float: left
    line-height: 1em
    margin-top: -0.5em
    padding-top: 50%
    text-align: center
    width: 100%

.img-circle::after
    background: url("https://placekitten.com/400/400") repeat scroll 0 0 / cover
 

//ABOUT ME

.about-me
    width 100%
    height 100%

.about-me-title
    font-family title-font
    text-align left
    color yellow
    padding 0em 1em 0em 1em
    font-size 1.5em

.about-me-name
    display block
    text-align center    
    font-family title-font
    color pink
    font-size 1.3em

.about-me-description p
    padding 0em 1em 0em 1em
    font-family title-font  
    color yellow
    font-size 1.2em

.about-me-connections
    display flex
    flex-config row wrap center 0 0

.aside-right i
    color pink
    font-size 2.5em   
    margin-right 0.5em  

.aside-right i:hover
    color orange    

.about-me-image
    background url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgaAAAAJDE0OTc0ZGRhLTg4MWYtNDI3NC05ZmVhLWY0MjZmNmM5MDM0ZA.jpg') repeat scroll 0 0 / cover  
