@import 'fonts'

//BASIC SETTINGS

a 
    color #7E644B
    text-decoration none
    
a:hover
    color #3E4A40

ul 
    padding 0 
    list-style none     

.icon
    color #3E4A40

img
    width 100%
    height auto    


//COMMON PARTS

body
    font-size 16px
    background-color #C4C9A8 

.wrapper
    display flex
    flex-direction row
    flex-wrap wrap

.wrapper > * 
    padding: 10px
    flex: 1 100%

.header
    background #3E4A40
    font-family 'Lobster'
    color #A57F68
    font-size 3em
    padding 0 0.3em 0.2em 0.3em
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between   

.main
    flex-flow row wrap
    justify-content space-around
    

.navigation
    display flex
    flex-direction row
    flex-wrap no-wrap
    justify-content flex-end
    margin 0.2em 0 0 0
    padding 0

.navigation a
    padding 0.5em
    text-align center   
    display block
    font-size 0.5em
    color #8B8F76

.navigation a:hover
    color #A57F68   

.aside-right
    background #8B8F76
    padding-top 1.5em

.footer
    background #A57F68
    color #3E4A40
    font-family 'Lobster'
    text-align center
    
@media all and (min-width : 480px) 
    .aside-right  
        flex 1 
    .main
        order 2
        flex 3 0px
    .header
        order 1    
    .aside-right  
        order 3 
    .footer   
        order 4 
    .navigation
        justify-content space-around

@media all and (min-width: 1024px)
    .angular-google-map-container 
        width 1000px

@media all and (max-width: 1024px)
    .angular-google-map-container 
        width 700px          

@media all and (max-width : 768px) 
    .header
        justify-content space-around
    .angular-google-map-container 
        width 480px

@media all and (max-width : 480px)
    .title
        text-align center   
    .navigation
        flex-flow column wrap
        padding 0
    .angular-google-map-container 
        width 260px    

//BLOG POST LIST & USERS LIST

.flex-container
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around
    align-items center
    align-content flex-start

.flex-item-postlist
    margin: auto

.flex-item
    margin: auto    

.blog-post-item, .user-link
    margin 0em 0em .5em 0em
    border-bottom 3px dashed #A57F68
    background-color #979A85

.blog-post-link, .user-link
    font-family 'Oswald'
    padding 0.5em 0.5em 0.5em 0.5em

//PAGINATOR

.simple-pagination
    font-family 'Oswald'
    display flex
    flex-direction row
    flex-wrap wrap  
    justify-content space-between
    align-items baseline
    align-content center

.simple-pagination p
    margin 0 0.5em 0 0   
    
.simple-pagination__items
    color #7e644b

.simple-pagination__pages   
    color #3e4a40

.simple-pagination__page-limit a
    color #3e4a40
    
.simple-pagination__page-limit a:hover
    color #7e644b    

.simple-pagination__button


//BLOG POST

.blog-post-header, .blog-post-create-header
    font-family 'Oswald'
    color #7E644B   

.blog-post-body, .blog-post-user, .blog-post-comments, .about-me-description   
    font-family 'PoiretOne' 
    color #3E4A40
    margin 0 auto
    margin-bottom 0.7em

.comments-list
    list-style-type none

.subtitle
    background #8B8F76
    font-family 'PoiretOne' 
    color #3E4A40
    padding 0.2em
    width 99%
    display block

//USER INFO

.responsive-circle-container
    width 30%
    margin 0 auto

.responsive-circle 
    border-radius: 50%
    border 5px solid #a57f68
    margin-bottom 0.5em
    margin: 0 auto 20px
    width: 100%
    display block

.responsive-circle::after
    border-radius: 50%
    content: ""
    display: block
    height: auto
    //margin-bottom: 20px
    padding-bottom: 100%
    width: 100%

.responsive-circle div
    color: white
    float: left
    line-height: 1em
    margin-top: -0.5em
    padding-top: 50%
    text-align: center
    width: 100%

.img-circle::after
    background: url("https://placekitten.com/400/400") repeat scroll 0 0 / cover

.container-blog-user
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-around     

.blog-user 
    width 100%
   
.container-blog-user h1
    font-family "Oswald"    
    color #8B8F76
    text-align center
    margin 0 auto

.container-blog-user a
    font-family "PoiretOne"
    color #a57f68
    display block
    text-align center

.upper-box
    background #3e4a40
    padding 0.7em  
    display flex
    flex-flow column wrap
    justify-content center

.lower-box
    background #a57f68
    padding 0.7em  
    display flex
    flex-flow column wrap
    justify-content center

.container-blog-user i
    font-size 2em

.button
    background #3e4a40
    width 100%
    padding 1em 0em 1em 0em
    align center
    margin-top 0.7em

.button a
    color #7E644B
    font-weight bold  

.angular-google-map
    display flex
    flex-flow row wrap
    justify-content center            

.angular-google-map-container 
    height: 200px 
    border 5px solid #3e4a40

//CREATE POST

.blog-post-create-title
    color #A57F68
    font-family "PoiretOne"
    font-weight bold
    margin 0 auto

.blog-post-create-input, .blog-post-create-select
    width 80%   
    font-family "PoiretOne"
    font-size 1em
    padding 0.5em
    background #979a85
    border 0
    color #3E4A40
    margin-top 0.5em
    margin-bottom 0.7em

.blog-post-create-fieldset
    border 0
    padding 0   

.blog-post-create-button
    width 100%
    background #3E4A40
    color #A57F68
    font-family "Oswald" 
    border 0
    padding 0.3em
    font-size 1em    

.blog-post-create-button[disabled]
    width 100%
    background gray
    color #666666
    font-family "Oswald" 
    border 0
    padding 0.3em
    font-size 1em    

//ABOUT ME

.about-me-title
    font-family "Oswald"
    text-align left
    color #3e4a40
    padding 0em 1em 0em 1em

.about-me-name
    display block
    text-align center    
    font-family "Oswald"
    color #7e644b

.about-me-description p
    padding 0em 1em 0em 1em
    font-family "Oswald"  

.about-me-connections
    display flex   
    flex-direction row
    flex-wrap wrap
    justify-content center

.aside-right i
    color #3e4a40
    font-size 2.5em   
    margin-right 0.5em  

.aside-right i:hover
    color #7e644b     

.about-me-image
    background url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgaAAAAJDE0OTc0ZGRhLTg4MWYtNDI3NC05ZmVhLWY0MjZmNmM5MDM0ZA.jpg') repeat scroll 0 0 / cover  
